body {
  text-align: center;
  background-color: #F7FFF6;
  color: #5A7D9B;
}

h1 {
  font-family: 'Pacifico', cursive;
  margin: 1em;
  color: #5A7D9B;
}

form {
  margin-bottom: 2em;
}

input {
  width: 5em;
  margin: .2em;
}

.instruction-text {
  width: 30%;
  text-align: justify;
  margin: 0 auto;
}

.item {
  padding: .8em 0;
  background-color: #fff;
  border: 1px solid #C9DAEA;
}

.header {
  background-color: #C9DAEA;
  font-weight: 600;
  font-size: 2rem;
}

.startButton {
  border-radius: 5px;
  border: 1px solid #5A7D9B;
  color: #5A7D9B;
  background-color: #C9DAEA;
  font-size: 2rem;
  padding: .5em 1em;
  margin-top: .05em;
  margin-bottom: 1em;
}

.message-container {
  position: fixed;
  top: 30%;
  left: 50%;
  background-color: none;
}

.message {
  font-size: 5rem;
  color: #5A7D9B;
  text-shadow: .1em .1em .7em #000000;
  transform: rotate(-10deg) translate(-50%, -50%);
}

.playAgain {
  display: block;
  margin-top: 2em;
  transform: translate(-50%, -50%);
}

.icon {
  height: 2em;
  position: relative;
  top: 30%;
}
